*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/review_skill/.env
/.idea/
/.idea/gradle.xml

# 代码审查报告目录
review_skill/report/

.opencode
opencode.json
